@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../node_modules/slick-carousel/slick/slick.css";
@import "../node_modules/slick-carousel/slick/slick-theme.css";

@font-face {
    font-display: swap;
    font-family: 'San Francisco Display';
    font-style: normal;
    font-weight: bold;
    src: url('../assets/fonts/SanFranciscoDisplay-Bold.woff2') format('woff2'),
        url('../assets/fonts/SanFranciscoDisplay-Bold.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'San Francisco Display';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/fonts/SanFranciscoDisplay-Black.woff2') format('woff2'),
        url('../assets/fonts/SanFranciscoDisplay-Black.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'San Francisco Display';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/SanFranciscoDisplay-Heavy.woff2') format('woff2'),
        url('../assets/fonts/SanFranciscoDisplay-Heavy.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'San Francisco Display';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/SanFranciscoDisplay-Medium.woff2') format('woff2'),
        url('../assets/fonts/SanFranciscoDisplay-Medium.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'San Francisco Display';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/SanFranciscoDisplay-Light.woff2') format('woff2'),
        url('../assets/fonts/SanFranciscoDisplay-Light.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'San Francisco Display';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/SanFranciscoDisplay-Regular.woff2') format('woff2'),
        url('../assets/fonts/SanFranciscoDisplay-Regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'San Francisco Display';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/SanFranciscoDisplay-Semibold.woff2') format('woff2'),
        url('../assets/fonts/SanFranciscoDisplay-Semibold.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'San Francisco Display';
    font-style: normal;
    font-weight: 100;
    src: url('../assets/fonts/SanFranciscoDisplay-Thin.woff2') format('woff2'),
        url('../assets/fonts/SanFranciscoDisplay-Thin.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'San Francisco Display';
    font-style: normal;
    font-weight: 100;
    src: url('../assets/fonts/SanFranciscoDisplay-Ultralight.woff2') format('woff2'),
        url('../assets/fonts/SanFranciscoDisplay-Ultralight.woff') format('woff');
}

* {
    font-family: 'San Francisco Display';
}

@function rem($pixel) {
    @if not $pixel {
        @error 'Missing argument $pixel';
    }

    @return ($pixel/16)+rem;
}


$dark-cerulean: rgb(25, 64, 112);
$gainsboro: rgb(217, 217, 217);
$white-smoke: rgb(245, 245, 245);

@mixin scroll-bars($size: 12,
    $thumbColor: $dark-cerulean,
    $trackColor: $gainsboro,
    $border-radius-thumb: 0,
    $border-thumb: 2) {
    &::-webkit-scrollbar {
        height: rem($size);
        margin-right: rem(10);
        width: rem($size);
    }

    &::-webkit-scrollbar-thumb {
        background: $thumbColor;
        border-radius: rem($border-radius-thumb);
    }

    &::-webkit-scrollbar-track {
        background: $gainsboro;
    }

    scrollbar-face-color: $white-smoke;
    scrollbar-track-color: $white-smoke;
}

.o-bannerContent_scrollbar {
    @include scroll-bars(3);
}